<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-screen min-h-screen text-white  bg-zinc-900 flex flex-col justify-center items-center">
        <form action="/login" method="post" class=" flex flex-col  md:w-[50%] sm:w-[500px] w-[250px]  items-center ">
            <h1 class="text-2xl">Login User</h1>
            <input type="email" name="email" placeholder="Enter your email" required min="10"
                class="mt-10 border-2 border-white p-2 rounded-lg mx-10 outline-none bg-transparent w-full" />
            <input type="password" name="password" placeholder="Enter your password" required min="8"
                class="mt-10 border-2  border-white p-2 rounded-lg mx-10 outline-none bg-transparent w-full" />
            <input type="submit" value="Sign In" class="bg-blue-500 text-3xl min-w-max max-w-[600px] py-2 px-5 rounded-lg mx-10 mt-10" />
        </form>
        <a href="/register">Dont have an account? Register</a>
    </div>
</body>

</html>