<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-screen min-h-screen text-white  bg-zinc-900 flex flex-col justify-center items-center">
        <form action="/register" method="post" class=" flex flex-col  md:w-[60%] sm:w-[80%] w-[90%] items-center ">
            <h1 class="text-2xl">Create User</h1>
            <input type="text" name="username" placeholder="Enter your name" required min="3"
                class="mt-10 border-2  border-white p-2 rounded-lg mx-10 outline-none bg-transparent  md:w-[60%] sm:w-[500px] w-[250px]" />
            <input type="email" name="email" placeholder="Enter your email" required min="10"
                class="mt-10 border-2  border-white p-2 rounded-lg mx-10 outline-none bg-transparent  md:w-[60%] sm:w-[500px] w-[250px]" />
            <input type="password" name="password" placeholder="Enter your password" required min="8"
                class="mt-10 border-2 border-white p-2 rounded-lg mx-10 outline-none bg-transparent  md:w-[60%] sm:w-[500px] w-[250px]" />
            <input type="submit" value="Sign Up" class="bg-blue-500 text-3xl min-w-max py-2 px-5 rounded-lg mx-10 mt-10 " />
        </form>
        <a href="/login">have an account? Login</a>
    </div>
</body>

</html>