<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register page</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <div class="w-screen min-h-screen text-white  bg-zinc-900 flex flex-col justify-center items-center">
    <!-- creating a post usinf form and post method -->
    <form action="/update/<%=user._id%>" method="post" enctype="multipart/form-data" class=" flex flex-col w-[100%] items-center mb-5">
      <h1 class="text-2xl mb-5 text-gray-300">Update Profile</h1>
      <label for="username"  class="text-gray-500">Username</label>
      <input type="text" name="username" placeholder="Enter New UserName" required min="3" value="<%= user.username%>"
        class="mb-10 border-2 sm:w-[50%] w-[200px] border-white p-2 rounded-lg mx-10 outline-none bg-transparent" />
        <label for="pfp" class="text-gray-500">Profile Picture</label>
      <input type="file" name="pfp" placeholder="Enter post content" min="10" value="<%=user.profilePicture%>"
        class="border-2 sm:w-[50%] w-[200px] border-white p-2 rounded-lg mx-10 outline-none bg-transparent" />
      <input type="submit" value="Update Profile" class="bg-blue-500 md:text-3xl text-xl min-w-[100px] max-w-[50%] py-2 px-5 rounded-lg mx-10 mt-10 tracking-tighter" />
    </form>
  </div>
</body>

</html>